body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: orangered;
}
input{
    height: 60px;
    width: 600px;
    font-size: 34px;
    color: orangered;
    border-radius: 40px;
    border: 10px yellow solid;
    padding-left: 20px;

}
button {
    background-color: blueviolet;
    color: aquamarine;
    border-radius: 40px;
    font-size: 34px;
    height: 80px;
    width: 80px;
    margin-left: 20px;
    transition: 0.5s;
}
button:hover {
    rotate: 360deg;
    scale: 1.5;
    margin-left: 35px;
    color: aquamarine;
}